.categories {
  height: 50px;
  margin-bottom: 2rem;
  background-color: #161932;
  max-width: 100%;
  border-radius: 50px;
  display: flex;
  z-index: 1;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;
}
.selected {
  background-color: #ffbf00;
}

.category {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  transition: 0.4s ease-in;
  color: black;
  font-weight: 500;
}

.category:hover {
  cursor: pointer;
}
